In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("product_data.csv")

In [3]:
data.shape

(60, 10)

In [4]:
data.head(10)

,ProductID,ProductName,Category,Price,CustomerRating,PromotionType,CustomerAge,ShippingTime,CustomerSatisfaction,ShippingDate
0,1,Smartphone X,Electronics,500,4.2,Discount,Young,2,4,02/15/2022
1,2,Fashion Jacket,Clothing,80,4.5,Bundle Offer,Adult,3,5,08/20/2021
2,3,Kitchen Blender,Home & Kitchen,120,3.8,NaN,Senior,4,3,05/10/2022
3,4,Running Shoes,Sports,60,4.0,Discount,Young,2,4,11/03/2022
4,5,LED TV,Electronics,700,4.3,NaN,Adult,3,4,06/27/2021
5,6,Makeup Kit,Beauty,45,4.1,Bundle Offer,Young,2,4,09/14/2021
6,7,Home Decor Items,Home & Kitchen,25,3.5,NaN,Senior,4,2,07/08/2022
7,8,Smartwatch,Electronics,150,4.4,NaN,Young,2,5,03/22/2023
8,9,Sneakers,Sports,40,3.9,Discount,Adult,3,3,12/18/2021
9,10,Instant Pot,Home & Kitchen,90,4.6,Bundle Offer,Senior,4,5,01/30/2022

In [5]:
data.sample(10)

,ProductID,ProductName,Category,Price,CustomerRating,PromotionType,CustomerAge,ShippingTime,CustomerSatisfaction,ShippingDate
48,219,Lunch Box,Kitchen,15,3.9,NaN,Young,2,2,04/05/2022
41,212,Portable Charger,Electronics,20,4.2,NaN,Senior,4,2,06/15/2021
8,9,Sneakers,Sports,40,3.9,Discount,Adult,3,3,12/18/2021
45,216,Yoga Block,Fitness & Yoga,10,3.8,NaN,Young,2,2,09/01/2021
28,29,Desk Lamp,Home & Kitchen,25,4.0,NaN,Young,2,4,05/19/2022
47,218,Hiking Boots,Outdoor & Recreation,60,4.4,NaN,Senior,4,4,07/16/2021
16,17,Skin Care Set,Beauty,30,3.8,NaN,Young,2,3,05/26/2022
20,21,Headphones,Electronics,35,4.2,Bundle Offer,Adult,3,4,08/17/2021
30,201,Wireless Mouse,Electronics,15,4.2,NaN,Young,2,4,02/15/2022
21,22,Winter Coat,Clothing,120,4.0,NaN,Senior,4,4,01/12/2023

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductID             60 non-null     int64
 1   ProductName           60 non-null     object
 2   Category              60 non-null     object
 3   Price                 60 non-null     int64
 4   CustomerRating        60 non-null     float64
 5   PromotionType         25 non-null     object
 6   CustomerAge           60 non-null     object
 7   ShippingTime          60 non-null     int64
 8   CustomerSatisfaction  60 non-null     int64
 9   ShippingDate          60 non-null     object
dtypes: float64(1), int64(4), object(5)
memory usage: 4.8+ KB

In [7]:
data.dtypes

ProductID                 int64
ProductName              object
Category                 object
Price                     int64
CustomerRating          float64
PromotionType            object
CustomerAge              object
ShippingTime              int64
CustomerSatisfaction      int64
ShippingDate             object
dtype: object

In [8]:
data.isna().sum()

ProductID                0
ProductName              0
Category                 0
Price                    0
CustomerRating           0
PromotionType           35
CustomerAge              0
ShippingTime             0
CustomerSatisfaction     0
ShippingDate             0
dtype: int64

In [9]:
data.isnull().mean()*100

ProductID                0.000000
ProductName              0.000000
Category                 0.000000
Price                    0.000000
CustomerRating           0.000000
PromotionType           58.333333
CustomerAge              0.000000
ShippingTime             0.000000
CustomerSatisfaction     0.000000
ShippingDate             0.000000
dtype: float64

In [10]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ProductID,60.0,115.500000,101.220936,1.0,15.75,115.5,215.25,230.0
Price,60.0,69.383333,110.925550,8.0,23.75,40.0,70.00,700.0
CustomerRating,60.0,4.106667,0.277926,3.5,3.90,4.1,4.30,4.6
ShippingTime,60.0,2.966667,0.822701,2.0,2.00,3.0,4.00,4.0
CustomerSatisfaction,60.0,3.600000,0.994902,2.0,3.00,4.0,4.00,5.0

In [11]:
data["CustomerSatisfaction"].skew()

-0.28629649843102617

In [12]:
print("Total duplicate values are '", data.duplicated().sum(), "'.")

Total duplicate values are ' 0 '.

In [13]:
data.corr()

ValueError: could not convert string to float: 'Smartphone X'